<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/error.css">
    <title>จะพยายามเพื่ออะไร</title>
</head>
    <body>
        <div class="card">
            <div class="text">
                <h1>โดนHackแล้วมึงไอ่ควาย</h1>
                <h2>เป็นเหี้ยไรครับเสือกเรื่องชาวบ้านไม่หยุดอีส้นตีน</h2>
                <h2><span>หยอกเล่นน้าาาาาาาาาาา</span> <span style="color: red;">อย่ากดอีกนะมึงหยอกแค่รอบนี้เหละ</span></h2>
            </div>
            
            <h2><span id="countdown"></span></h2>
            <img src="../img/4321630.png" alt="byebye">
        </div>
    </body>
    <script src="../js/main.js"></script>
</html>