<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>ตารางความผิด</title>
</head>
<body>
    <div class="container">
        <div class="column">

            <div id="mistake-container">
                <h1>ตารางความผิด</h1>
            </div>
        </div>
    </div>
    <script src="../js/save.js"></script>
</body>
</html>